/*
 * puhui font
 */

@font-face {
    font-family: "alipuhui";
    src: url("../font/Puhui/Alibaba-PuHuiTi-Light.ttf");
    font-weight: 300;
    font-display: auto;
    font-stretch: normal;
}

@font-face {
    font-family: "alipuhui";
    src: url("../font/Puhui/Alibaba-PuHuiTi-Regular.ttf");
    font-weight: 400;
    font-display: auto;
    font-stretch: normal;
}

@font-face {
    font-family: "alipuhui";
    src: url("../font/Puhui/Alibaba-PuHuiTi-Medium.ttf");
    font-weight: 500;
    font-display: auto;
    font-stretch: normal;
}

@font-face {
    font-family: "alipuhui";
    src: url("../font/Puhui/Alibaba-PuHuiTi-Bold.ttf");
    font-weight: 700;
    font-display: auto;
    font-stretch: normal;
}

@font-face {
    font-family: "alipuhui";
    src: url("../font/Puhui/Alibaba-PuHuiTi-Heavy.ttf");
    font-weight: 900;
    font-display: auto;
    font-stretch: normal;
}

.font-puhui {
    font-family: "alipuhui", sans-serif;
}
