/*
 * Roboto font
 */

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/2fba6cl.woff2") format("woff2"),
        url("../font/Roboto/2fba6cd.woff") format("woff"),
        url("../font/Roboto/2fba6ca.opentype") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 900;
    font-stretch: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/311c1dl.woff2") format("woff2"),
        url("../font/Roboto/311c1dd.woff") format("woff"),
        url("../font/Roboto/311c1da.opentype") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 900;
    font-stretch: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/9d5bd3l.woff2") format("woff2"),
        url("../font/Roboto/9d5bd3d.woff") format("woff"),
        url("../font/Roboto/9d5bd3a.opentype") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/92aa75l.woff2") format("woff2"),
        url("../font/Roboto/92aa75d.woff") format("woff"),
        url("../font/Roboto/92aa75a.opentype") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/75987dl.woff2") format("woff2"),
        url("../font/Roboto/75987dd.woff") format("woff"),
        url("../font/Roboto/75987da.opentype") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/dec5ecl.woff2") format("woff2"),
        url("../font/Roboto/dec5ecd.woff") format("woff"),
        url("../font/Roboto/dec5eca.opentype") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/eb6e64l.woff2") format("woff2"),
        url("../font/Roboto/eb6e64d.woff") format("woff"),
        url("../font/Roboto/eb6e64a.opentype") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 300;
    font-stretch: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/00cc08l.woff2") format("woff2"),
        url("../font/Roboto/00cc08d.woff") format("woff"),
        url("../font/Roboto/00cc08a.opentype") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/71b9cdl.woff2") format("woff2"),
        url("../font/Roboto/71b9cdd.woff") format("woff"),
        url("../font/Roboto/71b9cda.opentype") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 500;
    font-stretch: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/7f1b26l.woff2") format("woff2"),
        url("../font/Roboto/7f1b26d.woff") format("woff"),
        url("../font/Roboto/7f1b26a.opentype") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/444a91l.woff2") format("woff2"),
        url("../font/Roboto/444a91d.woff") format("woff"),
        url("../font/Roboto/444a91a.opentype") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 200;
    font-stretch: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto/5f6199l.woff2") format("woff2"),
        url("../font/Roboto/5f6199d.woff") format("woff"),
        url("../font/Roboto/5f6199a.opentype") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 200;
    font-stretch: normal;
}

.font-roboto {
    font-family: "Roboto", sans-serif;
}
