/**
* @file font file
* @date 2022-06-16
* @author Cunming
* @lastModify  2022-06-16
*/

// font family list
//en Roboto
$ENCommonFamily: "Roboto", -apple-system, BlinkMacSystemFont, "Helvetica", "Arial", "Calibri",
    "Segoe UI", "Ping Fang SC", "Microsoft Yahei";
//cn "alibaba-puhuiti"
$CNCommonFamily: "alipuhui", -apple-system, BlinkMacSystemFont, "Helvetica", "Arial", "Calibri",
    "Segoe UI", "Ping Fang SC", "Microsoft Yahei";

// combined font naming rule: fs_`font weight`-`font size`
// font weight list
// r: regular 400
// l: light 300
// m: medium 500
//s :Semi Bold
$fs_m_64: 500 6.4rem $ENCommonFamily;
$fs_r_63: 400 6.3rem $ENCommonFamily;
$fs_m_52: 500 5.2rem $ENCommonFamily;
$fs_r_49: 400 4.9rem $ENCommonFamily;
$fs_m_48: 500 4.8rem $ENCommonFamily;
$fs_r_48: 400 4.8rem $ENCommonFamily;
$fs_r_47: 400 4.7rem $ENCommonFamily;
$fs_r_42: 400 4.2rem $ENCommonFamily;
$fs_r_40: 400 4rem $ENCommonFamily;
$fs_l_40: 300 4rem $ENCommonFamily;
$fs_r_39: 400 3.9rem $ENCommonFamily;
$fs_r_37: 400 3.7rem $ENCommonFamily;
$fs_m_34: 500 3.4rem $ENCommonFamily;
$fs_r_34: 400 3.4rem $ENCommonFamily;
$fs_l_34: 300 3.4rem $ENCommonFamily;
$fs_r_33: 400 3.3rem $ENCommonFamily;
$fs_r_31: 400 3.1rem $ENCommonFamily;
$fs_m_30: 500 3rem $ENCommonFamily;
$fs_r_30: 400 3rem $ENCommonFamily;
$fs_l_30: 300 3rem $ENCommonFamily;
$fs_r_29: 400 2.9rem $ENCommonFamily;
$fs_m_28: 500 2.8rem $ENCommonFamily;
$fs_r_26: 400 2.6rem $ENCommonFamily;
$fs_r_25: 900 2.5rem $ENCommonFamily;
$fs_m_24: 500 2.4rem $ENCommonFamily;
$fs_r_24: 400 2.4rem $ENCommonFamily;
$fs_r_23: 400 2.3rem $ENCommonFamily;
$fs_r_22: 400 2.2rem $ENCommonFamily;
$fs_l_22: 300 2.2rem $ENCommonFamily;
$fs_l_20: 300 2rem $ENCommonFamily;
$fs_m_20: 500 2rem $ENCommonFamily;
$fs_r_20: 400 2rem $ENCommonFamily;
$fs_r_19: 400 1.9rem $ENCommonFamily;
$fs_m_18: 500 1.8rem $ENCommonFamily;
$fs_r_18: 400 1.8rem $ENCommonFamily;
$fs_l_18: 300 1.8rem $ENCommonFamily;
$fs_s_16: 600 1.6rem $ENCommonFamily;
$fs_m_16: 500 1.6rem $ENCommonFamily;
$fs_r_16: 400 1.6rem $ENCommonFamily;
$fs_l_16: 300 1.6rem $ENCommonFamily;
$fs_r_15: 400 1.5rem $ENCommonFamily;
$fs_m_14: 500 1.4rem $ENCommonFamily;
$fs_r_14: 400 1.4rem $ENCommonFamily;
$fs_r_13: 400 1.3rem $ENCommonFamily;
$fs_m_12: 500 1.2rem $ENCommonFamily;
$fs_r_12: 400 1.2rem $ENCommonFamily;
$fs_l_12: 300 1.2rem $ENCommonFamily;
$fs_r_10: 400 1rem $ENCommonFamily;
$fs_l_10: 300 1rem $ENCommonFamily;
$fs_r_9: 400 0.9rem $ENCommonFamily;

/**
* New font variable for english
*/
@mixin h_1($important: false) {
    @if $important {
        font: 400 3.4rem / 4.6rem $ENCommonFamily !important;
    } @else {
        font: 400 3.4rem / 4.6rem $ENCommonFamily;
    }
    letter-spacing: 0;
}

@mixin h_2($important: false) {
    @if $important {
        font: 400 2.4rem / 3.2rem $ENCommonFamily !important;
    } @else {
        font: 400 2.4rem / 3.2rem $ENCommonFamily;
    }
    letter-spacing: 0.018rem;
}

@mixin h_3($important: false) {
    @if $important {
        font: 500 2rem / 2.4rem $ENCommonFamily !important;
    } @else {
        font: 500 2rem / 2.4rem $ENCommonFamily;
    }
    letter-spacing: 0.015rem;
}

@mixin h_4($important: false) {
    @if $important {
        font: 500 1.6rem / 2.4rem $ENCommonFamily !important;
    } @else {
        font: 500 1.6rem / 2.4rem $ENCommonFamily;
    }
    letter-spacing: 0.015rem;
}

@mixin subtitle_1($important: false) {
    @if $important {
        font: 400 2.8rem / 3.6rem $ENCommonFamily !important;
    } @else {
        font: 400 2.8rem / 3.6rem $ENCommonFamily;
    }
    letter-spacing: 0.018rem;
}

@mixin subtitle_2($important: false) {
    @if $important {
        font: 400 1.6rem / 2.4rem $ENCommonFamily !important;
    } @else {
        font: 400 1.6rem / 2.4rem $ENCommonFamily;
    }
    letter-spacing: 0.015rem;
}

@mixin subtitle_3($important: false) {
    @if $important {
        font: 500 1.4rem / 2.4rem $ENCommonFamily !important;
    } @else {
        font: 500 1.4rem / 2.4rem $ENCommonFamily;
    }
    letter-spacing: 0.01rem;
}

@mixin body_1($important: false) {
    @if $important {
        font: 400 1.6rem / 2.4rem $ENCommonFamily !important;
    } @else {
        font: 400 1.6rem / 2.4rem $ENCommonFamily;
    }
    letter-spacing: 0.05rem;
}

@mixin body_2($important: false) {
    @if $important {
        font: 400 1.4rem / 2rem $ENCommonFamily !important;
    } @else {
        font: 400 1.4rem / 2rem $ENCommonFamily;
    }
    letter-spacing: 0.025rem;
}

@mixin body_3($important: false) {
    @if $important {
        font: 300 1.4rem / 2rem $ENCommonFamily !important;
    } @else {
        font: 300 1.4rem / 2rem $ENCommonFamily;
    }
    letter-spacing: 0.025rem;
}

@mixin label($important: false) {
    @if $important {
        font: 400 1.2rem / 1.6rem $ENCommonFamily !important;
    } @else {
        font: 400 1.2rem / 1.6rem $ENCommonFamily;
    }
    letter-spacing: 0.04rem;
}

@mixin overline($important: false) {
    @if $important {
        font: 400 1rem / 1.4rem $ENCommonFamily !important;
    } @else {
        font: 400 1rem / 1.4rem $ENCommonFamily;
    }
    letter-spacing: 0.1rem;
}
/**
* Font variable for chinese
*/
@mixin c_h_1($important: false) {
    @if $important {
        font: 500 3.4rem / 5.1rem $CNCommonFamily !important;
    } @else {
        font: 500 3.4rem / 5.1rem $CNCommonFamily;
    }
    letter-spacing: 0.02rem;
}

@mixin c_h_2($important: false) {
    @if $important {
        font: 500 3.2rem / 4.8rem $CNCommonFamily !important;
    } @else {
        font: 500 3.2rem / 4.8rem $CNCommonFamily;
    }
    letter-spacing: 0.02rem;
}

@mixin c_h_3($important: false) {
    @if $important {
        font: 500 2.8rem / 4.2rem $CNCommonFamily !important;
    } @else {
        font: 500 2.8rem / 4.2rem $CNCommonFamily;
    }
    letter-spacing: 0.02rem;
}

@mixin c_h_4($important: false) {
    @if $important {
        font: 500 2.4rem / 3.6rem $CNCommonFamily !important;
    } @else {
        font: 500 2.4rem / 3.6rem $CNCommonFamily;
    }
    letter-spacing: 0.02rem;
}

@mixin c_h_5($important: false) {
    @if $important {
        font: 500 2rem / 3rem $CNCommonFamily !important;
    } @else {
        font: 500 2rem / 3rem $CNCommonFamily;
    }
    letter-spacing: 0.02rem;
}

@mixin c_h_6($important: false) {
    @if $important {
        font: 500 1.6rem / 2.4rem $CNCommonFamily !important;
    } @else {
        font: 500 1.6rem / 2.4rem $CNCommonFamily;
    }
    letter-spacing: 0.02rem;
}

@mixin c_h_7($important: false) {
    @if $important {
        font: 500 1.4rem / 2.1rem $CNCommonFamily !important;
    } @else {
        font: 500 1.4rem / 2.1rem $CNCommonFamily;
    }
    letter-spacing: 0.02rem;
}

@mixin c_subtitle_1($important: false) {
    @if $important {
        font: 400 3.4rem / 5.1rem $CNCommonFamily !important;
    } @else {
        font: 400 3.4rem / 5.1rem $CNCommonFamily;
    }
    letter-spacing: 0.02rem;
}

@mixin c_subtitle_2($important: false) {
    @if $important {
        font: 400 3.2rem / 4.8rem $CNCommonFamily !important;
    } @else {
        font: 400 3.2rem / 4.8rem $CNCommonFamily;
    }
    letter-spacing: 0.02rem;
}

@mixin c_subtitle_3($important: false) {
    @if $important {
        font: 400 2.8rem / 4.2rem $CNCommonFamily !important;
    } @else {
        font: 400 2.8rem / 4.2rem $CNCommonFamily;
    }
    letter-spacing: 0.02rem;
}

@mixin c_subtitle_4($important: false) {
    @if $important {
        font: 400 2.4rem / 3.6rem $CNCommonFamily !important;
    } @else {
        font: 400 2.4rem / 3.6rem $CNCommonFamily;
    }
    letter-spacing: 0.02rem;
}

@mixin c_subtitle_5($important: false) {
    @if $important {
        font: 400 2rem / 3rem $CNCommonFamily !important;
    } @else {
        font: 400 2rem / 3rem $CNCommonFamily;
    }
    letter-spacing: 0.02rem;
}

@mixin c_body_1($important: false) {
    @if $important {
        font: 400 1.6rem / 2.4rem $CNCommonFamily !important;
    } @else {
        font: 400 1.6rem / 2.4rem $CNCommonFamily;
    }
    letter-spacing: 0.02rem;
}

@mixin c_body_2($important: false) {
    @if $important {
        font: 300 1.6rem / 2.4rem $CNCommonFamily !important;
    } @else {
        font: 300 1.6rem / 2.4rem $CNCommonFamily;
    }
    letter-spacing: 0.02rem;
}

@mixin c_body_3($important: false) {
    @if $important {
        font: 400 1.4rem / 2.1rem $CNCommonFamily !important;
    } @else {
        font: 400 1.4rem / 2.1rem $CNCommonFamily;
    }
    letter-spacing: 0.02rem;
}

@mixin c_body_4($important: false) {
    @if $important {
        font: 300 1.4rem / 2.1rem $CNCommonFamily !important;
    } @else {
        font: 300 1.4rem / 2.1rem $CNCommonFamily;
    }
    letter-spacing: 0.02rem;
}

@mixin c_label_1($important: false) {
    @if $important {
        font: 400 1.2rem / 1.8rem $CNCommonFamily !important;
    } @else {
        font: 400 1.2rem / 1.8rem $CNCommonFamily;
    }
    letter-spacing: 0.05rem;
}

@mixin c_label_2($important: false) {
    @if $important {
        font: 400 1rem / 1.5rem $CNCommonFamily !important;
    } @else {
        font: 400 1rem / 1.5rem $CNCommonFamily;
    }
    letter-spacing: 0.05rem;
}
